*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(84, 143, 195);
}
.covidData{
   
    background-color: bisque;
    width: 30%;
    margin: auto;
    margin-top: 105px;
    border-radius: 6px;
    padding: 12px;
}

.covidData__input input{
    width: 400px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.covidData__input button{
    width: 80px;
    height: 50px;
    margin-top: 10px;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;


}
.covidData__country__info{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 500px;
    margin-left: auto;
    padding: 2px;
    margin-top: 20px;
    height: auto;
}